/.idea/
/Profitable Apps Project/.ipynb_checkpoints/
/Home Loan Visuals/RawData/application_test.csv/application_test.csv
/Home Loan Visuals/RawData/application_train.csv/application_train.csv
/Home Loan Visuals/RawData/bureau.csv/bureau.csv
/Home Loan Visuals/RawData/bureau_balance.csv/bureau_balance.csv
/Home Loan Visuals/RawData/credit_card_balance.csv/credit_card_balance.csv
/Home Loan Visuals/RawData/HomeCredit_columns_description.csv
/Home Loan Visuals/RawData/installments_payments.csv/installments_payments.csv
/Home Loan Visuals/RawData/POS_CASH_balance.csv/POS_CASH_balance.csv
/Home Loan Visuals/RawData/previous_application.csv/previous_application.csv
/Home Loan Visuals/RawData/sample_submission.csv
/Home Loan Visuals/
/EPL Data/datasets_646273_1380052_epl2020.csv
/EPL Data/646273_1380052_compressed_players_1920_fin.csv/players_1920_fin.csv
/EPL Data/
/FIFA_Unsupervised/.ipynb_checkpoints/
/FIFA_Unsupervised/test.py
/FIFA_Unsupervised/stocks.csv
